<ion-header>
  <ion-navbar>
    <ion-title *ngIf="dataFiled"><b>{{data.theme}}</b></ion-title>
    <ion-title *ngIf="!dataFiled"><b>{{loc.header}}</b></ion-title>
    <ion-buttons end>
        <ion-select [(ngModel)]="localization" interface="popover" (ionChange)="Translate();">
          <ion-option value="ru">Русский</ion-option>
          <ion-option value="ua">Українська</ion-option>
        </ion-select>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="no-data" *ngIf="!dataFiled">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <button ion-button outline text-wrap large round (click)="choseTask();">
            {{loc.button}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div *ngIf="dataFiled && !testEnded">
    <ion-slides slidesPerView="7" centeredSlides="true" #slider>
      <ion-slide *ngFor="let question of data.question">
          <button *ngIf="question.answer_index==-1 && currentQuestion.index!=question.index; else answered_button" ion-button outline round text-wrap color="dark" (click)="choseQuestion(question.index);">{{question.index+1}}</button>
          <ng-template #answered_button>
              <button *ngIf="question.answer_index==-1; else answer" ion-button round text-wrap (click)="choseQuestion(question.index);">{{question.index+1}}</button>
              <ng-template #answer>
                <button *ngIf="question.answer[question.answer_index].correct" ion-button round text-wrap color="secondary" (click)="choseQuestion(question.index);">{{question.index+1}}</button>
                <button *ngIf="!question.answer[question.answer_index].correct" ion-button round text-wrap color="danger" (click)="choseQuestion(question.index);">{{question.index+1}}</button>
              </ng-template>
            </ng-template>
        </ion-slide>
    </ion-slides>

    <div class="question-block" (swipe)="swipeEvent($event, currentQuestion.index)">

      <ion-row class="question-text">
        {{currentQuestion.text}}
      </ion-row>

      <ion-row *ngIf="currentQuestion.image" justify-content-center>
        <img class="question-image" src="assets/{{currentQuestion.image}}" imageViewer/>
      </ion-row>

      <ion-row *ngFor="let answer of currentQuestion.answer; let answerIndex = index">
        <ion-col>
          <button *ngIf="currentQuestion.answer_index==-1; else answered" ion-button round outline text-wrap (click)="answerQuestion(answerIndex, currentQuestion.index+1);">{{answer.text}}</button>
          <ng-template #answered>
              <button *ngIf="answer.correct" ion-button text-wrap color="secondary">{{answer.text}}</button>
              <button *ngIf="!answer.correct && currentQuestion.answer_index==answerIndex" ion-button text-wrap color="danger">{{answer.text}}</button>
              <button *ngIf="currentQuestion.answer_index!=answerIndex && !answer.correct" ion-button outline text-wrap color="dark">{{answer.text}}</button>
          </ng-template>
        </ion-col>
      </ion-row>

      <ion-row class="spoiler" *ngIf="currentQuestion.pdd || currentQuestion.help">
        <input type="checkbox" id="spoilerid_1">
        <label for="spoilerid_1">{{loc.theory}}</label>
        <div class="spoiler_body">
          <div *ngIf="currentQuestion.pdd">
            <a href="{{currentQuestion.pdd.url}}">{{currentQuestion.pdd.text}}</a>
          </div>
          <div *ngIf="currentQuestion.help">
            {{currentQuestion.help}}
          </div>
        </div>
      </ion-row>
    </div>
  </div>

  <div class="end-data" *ngIf="testEnded">
    <ion-grid text-center>

      <ion-row>
        <ion-col>
          <b>{{loc.right_answers}}: {{rightAnswersCount()}} / {{data.question.length}}</b>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="result-markers" *ngFor="let q of data.question; let i = index">
            <div *ngIf="q.answer[q.answer_index.toString()].correct" class="correct">{{i+1}}</div>
            <div *ngIf="!q.answer[q.answer_index.toString()].correct" class="wrong">{{i+1}}</div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="haveMistakes() && !isDebug">
        <ion-col>
          <button ion-button outline full text-wrap (click)="checkMistakes();">
              {{loc.work_on_the_bugs}}
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button outline full text-wrap (click)="showStat();">
              {{loc.show_stat}}
          </button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isRandom">
        <ion-col>
          <button ion-button outline full text-wrap (click)="nextTask();">
              {{loc.next}}
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button outline full text-wrap (click)="choseTask();">
              {{loc.end_test}}
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
