<ion-header>
  <ion-navbar *ngIf="dataFiled">
    <ion-title>{{data.theme}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="no-data" *ngIf="!dataFiled">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <button ion-button outline text-wrap large round (click)="choseTask();">
            Выберите билет или тему, для начала тестирования
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  
  <div *ngIf="dataFiled && !testEnded">
    <ion-slides slidesPerView="5" centeredSlides="true" #slider>
      <ion-slide *ngFor="let question of data.question">
          <button *ngIf="question.answer_index==-1; else answered_button" ion-button outline round text-wrap color="dark" (click)="choseQuestion(question.index);">{{question.index+1}}</button>
          <ng-template #answered_button>
              <button *ngIf="question.answer[question.answer_index].correct" ion-button round text-wrap color="secondary" (click)="choseQuestion(question.index);">{{question.index+1}}</button>
              <button *ngIf="!question.answer[question.answer_index].correct" ion-button round text-wrap color="danger" (click)="choseQuestion(question.index);">{{question.index+1}}</button>
          </ng-template>
        </ion-slide>
    </ion-slides>

    <div class="question-block" (swipe)="swipeEvent($event, currentQuestion.index)">
      
      <ion-row class="question-text">
        {{currentQuestion.text}}
      </ion-row>

      <ion-row *ngIf="currentQuestion.image" justify-content-center>
        <img class="question-image" src="assets/{{currentQuestion.image}}" imageViewer/>
      </ion-row>

      <ion-row *ngFor="let answer of currentQuestion.answer; let answerIndex = index">
        <ion-col>
          <button *ngIf="currentQuestion.answer_index==-1; else answered" ion-button round outline text-wrap (click)="answerQuestion(answerIndex, currentQuestion.index+1);">{{answer.text}}</button>
          <ng-template #answered>
              <button *ngIf="answer.correct" ion-button text-wrap color="secondary">{{answer.text}}</button>
              <button *ngIf="!answer.correct && currentQuestion.answer_index==answerIndex" ion-button text-wrap color="danger">{{answer.text}}</button>
              <button *ngIf="currentQuestion.answer_index!=answerIndex && !answer.correct" ion-button outline text-wrap color="dark">{{answer.text}}</button>
          </ng-template>
        </ion-col>
      </ion-row>

    </div>
  </div>
  
  <div class="end-data" *ngIf="testEnded">
    <ion-grid text-center>

      <ion-row>
        <ion-col>
          <b>Правильных ответов: {{rightAnswersCount()}} из {{data.question.length}}</b>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="result-markers" *ngFor="let q of data.question; let i = index">
            <div *ngIf="q.answer[q.answer_index.toString()].correct" class="correct"><b>{{i+1}}</b></div>
            <div *ngIf="!q.answer[q.answer_index.toString()].correct" class="wrong"><b>{{i+1}}</b></div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="haveMistakes()">
        <ion-col>
          <button ion-button outline full text-wrap (click)="checkMistakes()">
            Работа над ошибками
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button outline full text-wrap>
            Посмотреть статистику
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button outline full text-wrap (click)="choseTask()">
            Закончить тест
          </button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </div>
</ion-content>
