page-work {
    .scroll-content {
        background-color: map-get($colors, light);
    }
    .no-data {
        height: 100%;
        justify-content: center;
        ion-grid {
            height: 100%;
            justify-content: center;
        }
        .button-md {
            width: 100%;
            height: 100px;
            display: inline-block;
            align-self: center;
        }
        .button-inner {
            text-transform: none;
        }
    }
    .end-data {
        padding-top: 20px;
        ion-row {
            padding-left: 10%;
            padding-right: 10%;
        }
        ion-col {
            align-items: center;
        }
        .result-markers {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 3px;
            .correct {
                width: 40px;
                height: 40px;
                padding: 0px;
                margin: 0px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                color: white;
                background-color: map-get($colors, secondary);
                border: 1px solid map-get($colors, secondary);
                box-shadow: 1px 1px 2px 0px darkgray;
                border-radius: 10px;
            }
            .wrong {
                width: 40px;
                height: 40px;
                padding: 0px;
                margin: 0px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                color: white;
                background-color: map-get($colors, danger);
                border: 1px solid map-get($colors, danger);
                box-shadow: 1px 1px 2px 0px darkgray;
                border-radius: 10px;
            }
        }
    }
    ion-slides {
        margin: 10px;
        .button {
            width: 40px !important;
            border-radius: 8px !important;
        }
    }

    .question-block {
        margin: 10px;
        .button {
            margin-left: -5px;
            margin-right: -20px;
            padding: 10px;
            width: 102%;
            height: auto;
            display: inline-block;
            border-radius: 20px;
        }
        .button-inner {
            text-align: left;
            text-transform: none;
            justify-content: flex-start;
        }
        .question-text {
            padding-bottom: 5px;
            font-weight: bold;
            font-size: 14px;
        }
        .question-image {
            display: flex;
            border: 1px solid grey;
            border-radius: 20px;
            background: lightgrey;
            object-fit: cover;
            width: 100%;
            height: 200px;
            margin-bottom: 10px;
        }
        .spoiler {
          padding-top: 10px;
        }
        .spoiler > input + label:after {
          content: "+";
          float: right;
          font-family: monospace;
          font-weight: bold;
        }
        .spoiler > input:checked + label:after {
          content: "-";
          float: right;
          font-family: monospace;
          font-weight: bold;
        }
        .spoiler > input {
          display:none;
        }
        .spoiler > input + label , .spoiler > .spoiler_body{
          background: map-get($colors, primary);
          color: #FFF;
          border-radius: 5px;
          padding: 5px 15px;
          overflow: hidden;
          width: 100%;
          box-sizing: border-box;
          display: block;
        }
        .spoiler > .spoiler_body {
          background: rgba(0, 0, 0, 0);
          color: #000;
          border: 2px solid map-get($colors, primary);
          border-radius: 0px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          margin-top: -4px;
          padding: 10px;
          padding-top: 8px;
          border-top: none;
        }
        .spoiler > input + label + .spoiler_body {
          display: none;
        }
        .spoiler > input:checked + label + .spoiler_body {
          display: block;
        }
    }
}
