<ion-header>
  <ion-navbar>
    <ion-title><b>{{loc.header}}</b></ion-title>
    <ion-buttons end>
        <ion-select [(ngModel)]="localization" interface="popover" (ionChange)="Translate();">
          <ion-option value="ru">Русский</ion-option>
          <ion-option value="ua">Українська</ion-option>
        </ion-select>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <div class="switcher">
    <button *ngIf="!allTimeStat" ion-button text-wrap (click)="switchStat(false)">{{loc.week}}</button>
    <button *ngIf="allTimeStat" ion-button outline text-wrap (click)="switchStat(false)">{{loc.week}}</button>
    <button *ngIf="allTimeStat" ion-button text-wrap (click)="switchStat(true)">{{loc.all_time}}</button>
    <button *ngIf="!allTimeStat" ion-button outline text-wrap (click)="switchStat(true)">{{loc.all_time}}</button>
  </div>

  <div class="data">
    <ion-grid>
      <ion-row>
        <ion-col><b>{{loc.theme_questions}}:</b></ion-col>
        <ion-col text-center>{{main.right}} / {{main.all}} ({{main.percent}} %)</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><b>{{loc.random_questions}}:</b></ion-col>
        <ion-col text-center>{{random.right}} / {{random.all}} ({{random.percent}} %)</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><b>{{loc.right_answers}}:</b></ion-col>
        <ion-col text-center>{{main.right+random.right}} / {{main.all+random.all}} ({{ratio}} %)</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><b>{{loc.gain}}:</b></ion-col>
        <ion-col text-center>
          <b *ngIf="gain>0" style="color: limegreen">⇗</b><b *ngIf="gain<0" style="color: red">⇘</b> {{gain}} %
        </ion-col>
      </ion-row>


      <div class="switcher" text-center>
        <button *ngIf="!isPie" ion-button icon-only (click)="isPie=false; switchStat(allTimeStat)"><ion-icon name="pulse"></ion-icon></button>
        <button *ngIf="isPie" ion-button outline icon-only (click)="isPie=false; switchStat(allTimeStat)"><ion-icon name="pulse"></ion-icon></button>
        <button *ngIf="isPie" ion-button icon-only (click)="isPie=true; switchStat(allTimeStat)"><ion-icon name="pie"></ion-icon></button>
        <button *ngIf="!isPie" ion-button outline icon-only (click)="isPie=true; switchStat(allTimeStat)"><ion-icon name="pie"></ion-icon></button>
      </div>

      <ion-row>
        <ion-col id="graph-container">
          <canvas class="graph" id="graph" #stat></canvas>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
