page-stat {
    .scroll-content {
        background-color: map-get($colors, light);
    }
    .data {
        text-align: left;
        margin-bottom: 10px;
    }
    .switcher {
        .button-md {
            width: 48%;
            margin-bottom: 10px;
        }
    }
    .graph {
      border: 1px solid grey;
      border-radius: 3px;
      padding: 10px;
      min-height: 250px;
    }
}
